@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Paytone+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/signika-sc-2');
@import "tailwindcss";

@theme {
    --color-blueMain: #195566;
    --color-greenMain: #005239;
    --color-pinkMain: #E38181;
    --color-yellowMain: #F5CA94;
    --color-tealMain: #70B2B1;
    --color-creamMain: #F7E6D4;
    --color-default: #2B2B2B;
    --font-large: "Paytone One", sans-serif;
    --font-small: "Didact Gothic", sans-serif;
    --font-signika: "Signika SC", sans-serif;
    --shadow-custom: 4px 4px 4px rgba(0,0,0,0.25);
}

@layer components {
  .card {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-creamMain); 
    border-radius: 12px;
    border: 2px solid; 
    border-color: #ECCBC4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}